@charset "UTF-8";
/* CSS Document */

#ng-console {
  border: thin solid black;
  font-family: 'courier';
  font-size: x-small;
}

#ng-console .ng-console-error {
  color: red;
}

#ng-console .ng-console-info {
  color: blue;
}

.ng-upload-widget object {
  align:center;
}

.ng-upload-widget a {
  margin-right: .3em;
}

.ng-upload-widget span {
  color: #999999;
  font-size: smaller;
}

.ng-format-negative {
  color: red;
}

.ng-exception {
  border: 2px solid #FF0000;
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
}

.ng-validation-error {
  border: 2px solid #FF0000;
}

.ng-hidden {
  display:none;
}

/*****************
 * DatePicker
 *****************/

div.ui-widget {
  font-size: 11px;
 }

/*****************
 * OrderBy
 *****************/
.ng-ascend,
.ng-descend {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right;
}
.ng-ascend  { background-image: url(images/arrow_ascend.png); }
.ng-descend { background-image: url(images/arrow_descend.png); }

/*****************
 * TIP
 *****************/
#ng-callout {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 13px;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

#ng-callout .ng-arrow-left{
  background-image: url(images/arrow_left.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index:101;
  left:-12px;
  height:23px;
  width:10px;
  top:-3px;
}

#ng-callout .ng-arrow-right{
  background-image: url(images/arrow_right.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index:101;
  height:23px;
  width:11px;
    top:-2px;
}

#ng-callout {
  position: absolute;
  z-index:100;
  border: 2px solid #CCCCCC;
  background-color: #fff;
}

#ng-callout .ng-content{
  padding:10px 10px 10px 10px;
  color:#333333;
}


#ng-callout .ng-title{
  background-color: #CCCCCC;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight:bold;
}


#ng-spacer {
  height: 1.2em;
}

#ng-loading {
  position: fixed;
  bottom: 0;
  height: 1.2em;
  width: 100%;
  text-align: center;
}

/*****************
 * Login
 *****************/

#ng-login {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 100px;
}

#ng-login .ng-login-container {
  width: 500px;
  height: 380px;
  margin: auto;
  border-top: 5px solid #FFF;
  border-left: 5px solid #DDD;
  border-right: 5px solid #777;
  border-bottom: 5px solid #555;
  padding: 0 3px 3px 0;
}

#ng-login .ng-login-container iframe {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
