<!doctype html>
<html ng-app="panelApp">
<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/panel.css">

  <script src="js/angular.js"></script>
  <script src="panelApp.js"></script>
</head>
<body ng-controller="TabCtrl">

  <ul class="nav nav-tabs">
    <li ng-repeat="tabId in ['Model', 'Performance', 'Options']"
      ng-class="{active: $parent.selectedTab == tabId}"
      ng-click="$parent.selectedTab = tabId">

      <a href="#">{{tabId}}</a>
    </li>
  </ul>


  <div ng-class="{hidden: $parent.selectedTab != 'Model'}" ng-controller="TreeCtrl">
    <h2>Model Tree</h2>
    <div ng-class="{hidden: roots.length <= 1}">
      <label for="select-root">Root <select id="select-root" ng-options="p.value as p.label for p in roots" ng-model="selectedRoot"></select></label>
    </div>
    <pre>
      <mtree val="trees[selectedRoot]" inspect="inspect" edit="edit"></mtree>
    </pre>
  </div>


  <div ng-class="{hidden: $parent.selectedTab != 'Performance'}" ng-controller="PerfCtrl">
    <h2>Performance</h2>
    <div>
      <label class="checkbox" for="extra">
        <input type="checkbox" ng-model="enable" id="extra"> Enable (Causes tab to refresh)
      </label>
      <label class="checkbox" for="log">
        <input type="checkbox" ng-model="log" id="log"> Log to console
      </label>
    </div>
    <div ng-class="{hidden: !enable || roots.length <= 1}">
      <label for="select-root">Root <select id="select-root" ng-options="p.value as p.label for p in roots" ng-model="selectedRoot"></select></label>
    </div>
    <div ng-class="{hidden: !enable}">
      <wtree val="trees[selectedRoot]" inspect="inspect" edit="edit"></wtree>
    </div>

    <h3>Timeline</h3>
    <button ng-click="clear()">Clear Timeline</button>
    <div style="height: 400px; background-color: blue; position: relative; overflow: scroll;">
      <div ng-repeat="x in timeline" style="height: 50px; position: absolute; background-color: red;" ng-style="{width: (x.end - x.start) + 'px', left: x.start + 'px', top: $index * 50 + 'px'}"></div>
    </div>
  </div>


  <div ng-class="{hidden: $parent.selectedTab != 'Options'}" ng-controller="OptionsCtrl">
    <h2>Options</h2>
    <div>
      <label class="checkbox" for="scopes">
        <input type="checkbox" ng-model="debugger.scopes" id="scopes"> Show scopes
      </label>
    </div>
    <div>
      <label class="checkbox" for="bindings">
        <input type="checkbox" ng-model="debugger.bindings" id="bindings"> Show bindings
      </label>
    </div>
  </div>

</body>
</html>