/*
* Typographic Styles
*
* Material Design Typographic Styles
*/

body {
  font-family: $brand-font;
  font-size: 14px;
  color: $platinum;
}

a {
  color: $blueberry;
}

code {
  background: $mist;
  border-radius: 2px;
  font-family: $mono-font;
  color: $metal;
  padding: 0px 4px;
  font-size: 90%;
}

.location-badge {
  position: absolute;
  bottom: 0;
  right: $unit * 3;
  padding: $unit;
  z-index: $layer-1;
  font-size: 12px !important;
}


.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}


.text-display-4 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 112px;
  font-weight: 300;
  opacity: .54;
  line-height: 118px;
}

.text-display-3 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 56px;
  font-weight: 400;
  opacity: .54;
  line-height: 118px;
}

.text-display-2,
.docs-content h1 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 45px;
  font-weight: 400;
  opacity: .54;
  line-height: 48px;
}

.text-display-1,
.docs-content h2 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 34px;
  font-weight: 400;
  opacity: .87;
  line-height: 40px;
}

.text-headline,
.docs-content h3 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 24px;
  font-weight: 400;
  opacity: .87;
  line-height: 32px;
}

.text-title,
.docs-content h4 {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 20px;
  font-weight: 500;
  opacity: .87;
  line-height: 32px;
}

table th,
.text-subhead,
.text-body,
.docs-content p,
.docs-content ul,
.docs-content ol {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 16px;
  font-weight: 400;
  opacity: .87;
  line-height: 28px;
}

.l-sub-section p,
table td {
  font-size: 14px;
  font-weight: 400;
  opacity: .87;
  line-height: 24px;
}

.text-caption {
  margin: 0px 0px ($unit * 2) 0px;
  font-size: 12px;
  font-weight: 400;
  opacity: .54;
  line-height: 20px;
}

.text-aside,
.docs-content aside {
  @extend .text-caption;
  box-shadow: 0px 2px 5px rgba($coal, 0.3);
  font-weight: 400;
  font-size: 13px;
  opacity: .54;
  line-height: 24px;
  background: $mist;
  border-radius: 2px;
  padding: $unit * 3;
  margin-bottom: $unit * 2;
  width: $unit * 30;

  .l-sub-section & {
    background: $fog;
  }

  &.is-right {
    float: right;
    margin-left: $unit * 2;
  }

  &.is-left {
    float: left;
    margin-right: $unit * 2;
  }
}

.l-sub-section .text-aside,
.docs-content .l-sub-section  aside {
  background: $snow;
}
