language: node_js
node_js:
  - 0.8

env:
  global:
     - SAUCE_USERNAME=angular-ci
     - SAK=9b988f434ff8-fbca-8aa4-4ae3-35442987

before_script:
  - npm install -g grunt-cli
  - grunt package
  - grunt webserver > /dev/null &
  - ./lib/sauce/sauce_connect_setup.sh

script:
  - node ./sauce-test.js
