@charset "UTF-8";


body {
	background: #000 url("../images/texture_1.png");
}

/*----- Layout Generic Styles -----*/

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	margin-top: 0px;
}

a:link {
	color: #5d6db6;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #7989D6;
}
a:hover {
	text-decoration: underline;
	color: #5d6db6;
}
a:active {
	text-decoration: none;
}
	
p {
	font-size: 14px;
	padding-right: 10px;
	padding-left: 15px;
}
.h1 {
	font-size: 24px;
	color: #000;
	text-align: left;
	font-weight: bold;
}

.h2 {
	font-size: 18px;
	text-align: left;
	text-indent: 10px;
}

ul {

	font-size: 16px;
	line-height: 22px;
    list-style: url(images/bullet.png) outside;
}

li {
	font-size: 16px;
	line-height: 22px;
	list-style: url(../images/bullet.png) outside;
}


/*----- Global Layout -----*/

.twoCol #container  {
	width: 1050px;
	text-align: left;
	margin: 0px auto;
	background: #FC0 url(../images/yellow_bkgnd.jpg) no-repeat 0px;
	z-index: 1;
}

.home #container {
	width: 1050px;
	text-align: left;
	margin: 0px auto;
	background: #FC0 url(../images/yellow_bkgnd.jpg) no-repeat;
	top: 0px;
	height: 1650px;
}
#homeFooter {
	float: right;
	height: 30px;
	width: 275px;
	margin-top: 80px;
	font-size: 12px;
}

#twoColFooter {
	font-size: 12px;
	height: 30px;
	width: 275px;
	padding-left: 20px;
	margin-left: 700px;
	position: relative;
	bottom: 30px;
	margin-top: 100px;
}

#navigationHome {
	background: #7989D6;
	height: 50px;
	width: 1050px;
	position: relative;
	top: 0px;
	z-index: 3;
}

#navigation {
	height: 50px;
	width: 1050px;
	position: fixed;
	z-index: 10;
	top: 0px;
	background: #7989D6;
}



/*----- navigation styles -----*/

#navContainer {
	position: absolute;
	top: 12px;
	width: 1050px;
	font-size: 17px;
}

#navContainer ul {
	margin:0;
	list-style:none;
}

.navContainerStyle li{
	display: inline;
	list-style-type: none;
	padding-right:30px;
	font-size: 17px;
	color: #FFF;
	text-decoration: none;
	padding-left: 35px;
}
	
.navContainerStyle li a:link, .navContainerStyle li a:visited{
	display:inline;
	font-size: 1em;
	font-weight:300;
	color:#FFF;
	text-decoration:none;
	padding: 8px 12px;
}
.navContainerStyle li a:hover{
	color:#000
}

.navContainerStyle li a.current, .navContainerStyle li a.current:hover, .navContainerStyle a.current:active {
	color: #FFF;
	cursor:auto;
	background:#000;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius:15px;
}

/*------ sidebar styles ------*/

#left {
	float: left;
	height: 1080px;
	width: 445px;
	margin-left: 40px;
}

.twoCol #sidebar{
	float:left;
	width:245px;
	padding:0;
	margin-top: 120px;
	position: relative;
	z-index: 3;
}

#sidebarTop {
	height:49px;
	width: 235px;
	background: #7989D6;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius-topright: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius-topright: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-top-right-radius: 15px;
	border-top-right-radius: 15px;

}

#sidebarArea {
	width: 234px;
	top: 0px;
	padding-bottom: 1px;
	background: #FFF;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius-bottomright: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius-bottomright: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px; 

}

#sideBarContent1 {
	width: 200px;
	padding-top: 20px;
	padding-right: 20px;
	position: relative;
	padding-left: 10px;
	
}

#sidebarBottom {
	background: url(../images/sidebarBottom.png) no-repeat top;
	width: 234px;
	margin-bottom: 20px;
	height: 28px;
}


/*----- textbox content  -----*/

#textbox {
	float:right;
	width: 729px;
	position: relative;
	z-index: 5;
	margin-top: 120px;
	margin-right: 35px;	/*margin: 120px 40px 80px 278px;*/
}

#textboxTop {
	position: relative;
	height: 49px;
	top: 0px;
	left: 0px;
	background: #7989D6;
	width: 729px;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius-topright: 15px;
	border-radius-topleft: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#textbox_content {
	padding: 20px 20px 5px;
	width: 685px;
	position: relative;
	background: #FFF;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius-bottomright: 15px;
	border-radius-bottomleft: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-radius-bottomright: 15px;
	-webkit-border-radius-bottomleft: 15px;
	border-right: 5px solid #FFF;
	border-bottom: 5px solid #FFF;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.textboxContentHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #FFF;
	padding: 9px 8px 8px;
	margin-left: 20px;
}


/*----- home page  -----*/	

#top {
	height: 400px;
	width: 750px;
	clear: both;
	float: left;
}

#logo {
	height: 72px;
	width: 440px;
	margin-top: 50px;
	margin-left: 45px;
	font-family: "Courier New", Courier, monospace;
	font-size: 68px;
	color: #7989D6;
	font-weight: 400;
	color:#7690CF;
	text-shadow:1.5px 1.5px 1.5px #48577D;
	text-shadow:#48577D 1.5px 1.5px 1.5px;
	letter-spacing: 1.5px;
}

#twitterWidget {
	float: right;
	height: 300px;
	width: 250px;
	top: 0px;
	margin-top: 45px;
	margin-right: 40px;

}

#tagline {
	height: 120px;
	width: 600px;
	margin-left: 93px;
	clear: both;
	float: left;
	margin-top: 10px;
	font-size: 40px;
	color: #FFF;
	font-weight: bold;
	text-shadow:1.5px 1.5px 1.5px #48577D;
	text-shadow:#48577D 1.5px 1.5px 1.5px;
	
}


/*----- buttons -----*/

#buttons {
	clear: both;
	float: left;
	height: 72px;
	width: 675px;
	margin-left: 40px;
	margin-top: 35px;

}

#downloadButton {
	clear: both;
	float: left;
	height: 72px;
	width: 230px;
	background: #FFF url(../images/download_arrow.png) no-repeat 15px 5px;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius: 10px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-radius:10px;
}

#downloadText {
	padding-top: 7px;
	padding-left: 58px;
	width: 170px;
}

#communityButton {
	float: right;
	height: 72px;
	width: 230px;
	background: #FFF url(../images/community_icon.png) no-repeat 147px 8px;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius: 10px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-radius:10px;
}

#CommunityText {
	width: 150px;
	padding-top: 7px;
	padding-left: 20px;
}


.smallLinks {
	font-size: 10px;
	line-height: 14px;
	color: #000;
}

.smallLinks a:link {
	color: #000;
	text-decoration: none;
}
.smallLinks a:visited {
	text-decoration: none;
	color: #000;
}
.smallLinks a:hover {
	text-decoration: underline;
	color: #7989D6;
}
.smallLinks a:active {
	text-decoration: none;
}
.blueText {
	font-size: 13px;
	color: #7989D6;
}
.ButtonHeadings {
	font-size: 22px;
	font-weight: bold;
}


/*----- Icon Divs ----- */

#icons {
	background: #FFF;
	width: 410px;
	clear: both;
	float: left;
	height: 520px;
	width: 410px;
	padding-top: 20px;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-radius:15px;
}

#iconWrap{
	clear: right;
	float: left;
	height: 500px;
	width: 110px;
	margin-left: 30px;
	padding-top: 16px;
}

#templatesDescription {
	font-size: 14px;
	line-height: 16px;
	height: 95px;
	width: 300px;
}

#Descriptions {
	float: left;
	height: 500px;
	width: 230px;
	padding-top: 16px;
	font-size: 14px;
	line-height: 16px;
	margin-left: 5px;
}

#UItemplatesDescription {
	height: 95px;
	width: 230px;
	margin-bottom: 25px;
	padding-top: 5px;
}

#two-wayDescription {
	height: 85px;
	width: 230px;
	margin-bottom: 10px;
	padding-top: 20px;
}

#frameworkDescription {
	height: 95px;
	width: 230px;
	margin-bottom: 25px;
	padding-top: 7px;
}

#mvcDescription {
	height: 75px;
	width: 230px;
	padding-top: 18px;
}

#templateIcon {
	height: 90px;
	width: 95px;
	position: relative;
}

#two-wayIcon {
	height: 90px;
	width: 95px;
	
	position: relative;
}
#frameworkIcon {
	height: 90px;
	width: 95px;
	position: relative;
}

#mvcIcon {
	height: 90px;
	width: 95px;
	position: relative;
}

#templatesLink {
	line-height: 12px;
	height: 28px;
	width: 95px;
	margin-bottom: 5px;
	padding-top: 3px;
	text-align: center;
}

#two-wayLink {   
	line-height: 12px;
	height: 28px;
	width: 95px;
	margin-bottom: 5px;
	padding-top: 3px;
	text-align: center;
}
#frameworkLink {
	line-height: 12px;
	height: 20px;
	width: 95px;
	margin-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}
#mvcLink {
	line-height: 12px;
	height: 28px;
	width: 95px;
	margin-bottom: 5px;
	padding-top: 3px;
	text-align: center;
}


/*----- What you need divs ---*/

#whatYouNeed {
	clear: both;
	float: left;
	margin-top: 35px;
	margin-bottom: 35px;
	background: #FFF;
	height: 240px;
	width: 410px;
	padding-top: 20px;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-radius:15px;
}

#listText {
	width: 350px;
	padding-left: 20px;
}

/*----- testimonial divs ---*/


#testimonials {
	background: #FFF;
	height: 175px;
	width: 390px;
	clear: both;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-radius:15px;
	
}

#testimonialsText {
	width: 340px;
	margin-left: 20px;
	padding-top: 15px;
	
}

#sigName {
	width: 340px;
	font-size: 12px;
	font-style: italic;
	text-align: right;
}



/* ------ Live Example Divs ------ */

#right {
	width: 525px;
	clear: right;
	float: left;
	position: relative;
}

#live {
	width: 525px;
	position: relative;
	margin-top: 370px;
	float: left;

}


#LiveExText {
	font-size: 14px;
	background: #FFF;
	width: 475px;
	height: 1045px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	-moz-box-shadow: 4px 4px 6px #48577D;
	-moz-border-radius: 15px;
	box-shadow: 4px 4px 6px #48577D;
	border-radius: 15px;
	-webkit-box-shadow: 4px 4px 6px #48577D;
	-webkit-border-radius:15px;
	
}

#Example {
	font-size: 14px;
	width: 480px;
	padding-right: 25px;
	padding-top: 35px;
	padding-left: 0px;
}

/*-----float clearing---*/

.clearFloat {
	clear: both;
	height:0px;
	font-size:1px;
	line-height:0px;
}


