@charset "UTF-8";


body {
  background: #000 url("img/texture_1.png");
}

/*----- Layout Generic Styles -----*/

body,td,th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
}

a:link, a:visited, a:hover {
  color: #5d6db6;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  font-size: 14px;
  padding: 0.1em 1em;
  line-height: 1.4em;
}

li > p {
  padding-left: 0;
}

h2 {
  margin: 1.5em 0 1em 0;
}

h3 {
  margin: 1.8em 0 1em 0;
}

h4 {
  margin: 2em 0 1em 0;
}

li {
  margin: 0.3em 0 0.3em 0;
}

.ng-invalid {
  border: 1px solid red;
}

.member {
  border: 1px solid gray;
  margin: 2em 0;
}

.member p {
  padding: 0;
}

.member>h2 {
  background-color: lightgray;
  padding: .2em .4em;
  margin: 0;
  border-bottom: 1px solid gray;
}

.member>ul {
  list-style: none;
  padding: 0;
}

.member>ul>li {
  border: 1px solid lightgray;
  margin: 1em;

}
.member>ul>li>h3 {
  background-color: #EEE;
  padding: .2em .4em;
  margin: 0;
  font-family: monospace;
  border-bottom: 1px solid lightgray;
}
.member>ul>li>div {
  padding: 1em;
}

/*----- Upgrade IE Prompt -----*/

#oldIePrompt {
    margin: 0 auto;
    background-color: red;
    color: black;
    text-align: center;
    padding: 5px 0;
}


#oldIePrompt a,
#oldIePrompt a:visited {
    color: yellow;
}



/*----- Global Layout -----*/

#loading {
  position: fixed;
  left: 50%;
  margin: 1.5em -40px;
  width: 80px;
  padding: 0.2em 0.2em;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
  border: 1px solid black;
  background-color: #7989D6;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.6);
  box-shadow: 0 2px 8px rgba(0,0,0,0.6);

  z-index: 2; /* just below #fader */
}


#container  {
    width: 1150px;
    margin: 0 auto;
    background: #F8AC09 url(img/yellow_bkgnd.jpg) no-repeat top left;
}


#footer {
    clear: both;
    padding: 2em 4em 1em;
    font-size: 12px;
}

#offline{
  text-decoration:underline;
  cursor:pointer;
  color:blue;
}

#copyright {
  float:right;
  text-align: right;
}

#version {
  margin-top: -1.2em;
  margin-left: -2em;
  margin-right: 0.5em;
  color: #251BE0;
}


/*----- navigation styles -----*/

#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #7989D6;
  height: 3.5em;
  border-bottom: 4px solid #808080;
}


#navbar li {
  display: inline;
}


#navbar a:link, #navbar a:visited {
  font-size: 1.2em;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 11em;
  margin-top: 0.4em;
  padding: 0.5em 0;
}


#navbar a:hover {
  color: #000;
}


#navbar a.current {
  background-color: #333;

  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 4px 4px 6px #48577D;
  -moz-box-shadow: 4px 4px 6px #48577D;
  box-shadow: 4px 4px 6px #48577D;
}


#navbar a.current:hover {
  color: #fff;
}



/*------ sidebar styles ------*/

#sidebar {
  margin-top: 4em;
  width: 15.5em;
  padding: 0.8em 0.7em 0.7em 0.7em;
  background: #7989D6;
  overflow: hidden;
  float: left;

  -moz-box-shadow: 4px 4px 6px #48577D;
  -webkit-box-shadow: 4px 4px 6px #48577D;
  box-shadow: 4px 4px 6px #48577D;

  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;

  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


#sidebar input {
  width: 207px;
}


#sidebar #content-list.tutorial {
  list-style: none;
  text-indent: -1.2em;
}

#sidebar #content-list.tutorial .level-0 {
  text-indent: 0;
}


#content-list {
  background: #fff;
  padding: 1em 0.4em 1em 2em;
  margin: 0.95em -0.95em -1em -0.6em;
  line-height: 1.5em;
}


#content-list .level-0 {
  font-size: 1.3em;
  list-style: none;
  margin-left: -1.2em;
  padding-bottom: 0.2em;
}

#content-list .level-1 {
  margin-left: 0em;
}

#content-list .level-2 {
  margin-left: 1em;
}

#content-list .level-3 {
  margin-left: 2em;
}

#content-list .level-4 {
  margin-left: 3em;
}

#content-list .level-5 {
  margin-left: 4em;
}

#content-list .level-6 {
  margin-left: 5em;
}

#content-list a.current {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}



/*----- content styles -----*/

.content-panel {
  float: right;
  margin-top: 4em;
  margin-right: 3em;
  width: 57em;
  padding: 0.5em 1em 1em 1em;
  background: #7989D6;
  overflow: hidden;

  -moz-box-shadow: 4px 4px 6px #48577D;
  -webkit-box-shadow: 4px 4px 6px #48577D;
  box-shadow: 4px 4px 6px #48577D;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.content-panel > h2 {
  font-size: 2em;
  font-weight: normal;
  color: #fff;
  margin: 0 4em 0 0;
  height: 1em;
}

.content-panel-content {
  background-color: #fff;
  display: block;
  margin: 0.7em -1em -1em;
  padding: 0.5em 1.5em;
}


#content > h1 {
  display: none;
}


#content img:not(.ng-directive) {
  /* the negation rule above is to avoid applying this rule to images in buzz and other examples */
  display: block;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid black;

  -moz-box-shadow: 4px 4px 6px #48577D;
  -webkit-box-shadow: 4px 4px 6px #48577D;
  box-shadow: 4px 4px 6px #48577D;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}


#content pre {
  padding-left: 1.5em;
}


#content .syntaxhighlighter  {
  margin: 1.5em 0 1.5em 0 !important;
}

#content .parameters p:nth-child(2) {
  display: inline;
  padding-left: 0;
}

#content .returns p:nth-child(2) {
  display: inline;
  padding-left: 0;
}

#disqus #disqus_thread {
  margin: 0.7em -1em -1em;
}

/* subpages */

#fader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 3;
}

#subpage > div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 729px;
  margin-top: -140px;
  margin-left: -365px;
  z-index: 3;
  background-color: #7989D6;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 4px 4px 6px #48577D;
  -webkit-box-shadow: 4px 4px 6px #48577D;
  -moz-box-shadow: 4px 4px 6px #48577D;
}

#subpage h2 {
  height: 1.8em;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  border-radius-topright: 15px;
  border-radius-topleft: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0.6em 0 0 1em;
  margin: 0;
  color: white;
}

#subpage > div > a {
  color: black;
  float: right;
  margin: -40px 10px;
  font-size: 1em;
}

#subpage > div > a:hover {
  text-decoration: none;
  color: white;
}

#subpage > div > p {
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 0.5em;
}

#cacheButton {
  margin: 0em 2em 1em 0em;
  float:right;
}

.table {
  border-collapse: collapse;
}

.table th:first-child {
  text-align: right;
}

.table th,
.table td {
  border: 1px solid black;
  padding: .5em 1em;
}
.table th {
  white-space: nowrap;
}

.table th.section {
  text-align: left;
  background-color: lightgray;
}

[ng\:cloak], .ng-cloak {
  display: none;
}

.inline * {
  display: inline;
}

table {
  border-collapse: collapse;
}

td {
  padding: 4px;
  border: 1px solid lightgray;
}

td.head, thead td, .head td {
  background-color: #EEE;
}

td.empty-corner-lt {
  border-left: 0;
  border-top: 0;
  background-color: transparent;
}

/* service.$location Html5 mode example */
.html5-hashbang-example div input {
  width: 360px;
}

.doc-example-live .error {
   color: red;
}

.odd {
  background-color: #808080;
}

.even {
  background-color: #d3d3d3;
}
