.back-to-top {
    bottom: 10px;
    display: inline-block;
    opacity: 0.1;
    position: absolute;
    right: 25px;
    z-index: 3;
}

.clickable {
    cursor: pointer;
}

.content-area {
    display: block;
    padding: 0 15px;
    text-align: justify;
}

.footer {
    font-size: 0.7em;
}

.footer span {
    color: White;
    color: rgba(255, 255, 255, 1.0);
}

.logo {
    padding: 5px 15px;
}

.logo-container {
    border-right: 1px solid Black;
}

.md-tile-left .fa {
    border: 1px solid Red;
    border-radius: 30px;
    padding: 16px;
}

.md-toolbar-tools md-item {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid Transparent;
    border-radius: 0;
    color: White;
    color: rgba(255, 255, 255, 1.0);
    margin: 0;
    margin-right: 1px;
    padding: 10px;
}

.md-toolbar-tools md-item.active {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: #e53935;
}

.positioned {
    position: relative;
}

.red {
    color: #f44336;
}

.reverse-whiteframe-z1 {
    box-shadow: 0px -2px 5px 0 rgba(0, 0, 0, 0.26);
}

.stretched {
    align-self: stretch;
}

.tight {
    margin: 0;
    padding: 0;
}

.toolbar-btn {
    border-radius: 0 !important;
    border-right: 1px solid;
    margin: 2px 0;
    padding: 10px 15px;
}

.toolbar-fab {
    position: absolute;
    right: 15px;
    top: calc(100% - 28px);
}

.viewport {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#sidenav-search.md-locked-open {
    bottom: 0;
    position: absolute;
    top: 64px;
    transform: translate3d(-100%, 0, 0);
}

#sidenav-search.md-locked-open[flex="20"] {
    width: 20%;
}

#sidenav-search.md-locked-open[flex="25"] {
    width: 25%;
}

#sidenav-search.md-locked-open[flex="33"] {
    width: 33%;
}

#sidenav-toc {
    overflow-x: hidden;
}

#sidenav-toc.md-locked-open {
    bottom: 0;
    position: absolute;
    top: 64px;
}

#sidenav-toc.md-locked-open[flex="20"] {
    width: 20%;
}

#sidenav-toc.md-locked-open[flex="25"] {
    width: 25%;
}

#sidenav-toc.md-locked-open[flex="33"] {
    width: 33%;
}

#sidenav-toc a:not(.md-primary) {
    color: Black;
    color: rgba(0, 0, 0, 1.0);
}

#sidenav-toc a:not(.md-primary):hover {
    text-decoration: underline;
}

#sidenav-toc > md-content {
    height: 100%;
    overflow-x: hidden;
    padding-top: 15px;
}

#sidenav-toc > md-content h2 {
    margin-top: 0;
}

#sidenav-toc .md-primary {
    background-color: rgba(158, 158, 158, 0.2);
    border-radius: 0;
    border-style: solid;
    border-width: 0 3px 0 3px;
    font-weight: bold;
}

#top-anchor {
    position: absolute;
    top: 0;
}

iframe[name="example-anchoringExample"] {
  height:400px;
}
