.card {
  margin-bottom: $unit * 4;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 2px;

  header {
    background: $mist;
    padding: $unit * 2;
    border-radius: 2px 2px 0px 0px;

    h2 {
      margin: ($unit * 2) 0px 0px 0px;
    }
  }

  p {
    padding: 0px ($unit * 2);
    margin-bottom: 0px;
  }

  .card-content {
    border-bottom: 1px solid $mist;
    padding: $unit * 2;

    &:last-child {
      border-bottom: none;
    }



    h3 {
      margin: 0px;
    }

    ul {
      padding: 0px;
      margin: 0px 0px 0px ($unit * 4);

      a {
        font-size: 14px;
        display: block;
        line-height: 24px;
        text-decoration: none;
        padding: 0px 4px;

        &:hover {
          text-decoration: underline;
          background: $mist;
        }
      }
    }
  }

  footer {
    a {
      color: $blueberry;
      font-size: 13px;
    }
  }
}