.code-box {
  border-radius: 4px;
  background: $steel;
  box-shadow: 0px 2px 5px rgba($coal, .3);
  display: none;
  margin-bottom: $unit * 2;

  header {
    background: darken($steel, 5%);
    color: $snow;
    padding: $unit;
    border-radius: 4px 4px 0px 0px;
  }

  nav {
    button {
      line-height: $unit * 3;
      height: $unit * 3;
      padding: 0px ($unit * 3);
      margin-right: $unit;
      font-size: 13px;
      background: lighten($steel, 3%);
      color: $tin;
      font-weight: 500;
      text-transform: none;

      &.is-selected {
        background: $blueberry;
        color: $snow;
      }
    }
  }

  .prettyprint {
    box-shadow: none;
    margin: 0px;
  }
}