.dropdown {
  position: relative;
  z-index: $layer-1;

  .dropdown-button {
    background: rgba($snow, .1);
    border: none;
    text-transform: none;
    font-weight: normal;
    line-height: $unit * 4;
    padding: 0px ($unit * 4) 0px ($unit * 2);
    cursor: pointer;
    position: relative;
    z-index: $layer-1;

    .icon {
      position: absolute;
      top: 5px;
      right: $unit;
      z-index: $layer-1;
      font-size: 20px;
      opacity: .87;
    }
  }

  .dropdown-menu {
    background: $snow;
    box-shadow: 0px 2px 5px rgba($coal, .3);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: $layer-5;
    display: none;

    ul {
      list-style-type: none;
      border-bottom: 1px solid $fog;
      margin: 0px;
      padding: 0px;

      &:last-child {
        margin: 0;
      }
    }

    li {
      margin: 0px;
    }

    a {
      display: block;
      line-height: $unit * 5;
      padding: 0px ($unit * 2);
      font-size: 14px;
      text-decoration: none;
      text-align: left;
      font-weight: 400;
      text-transform: uppercase;
      color: $metal;
    }
  }
}