$hero-padding: $unit * 2;

.hero {
  position: relative;
  padding: $hero-padding;
  height: 192px;

  @media handheld and (max-width: $phone-breakpoint),
  screen and (max-device-width: $phone-breakpoint),
  screen and (max-width: $tablet-breakpoint) {
    height: auto;
    padding-top: 40px;
  }

  &.is-large {
    height: 478px;
    text-align: center;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      height: auto;
    }
  }

  .hero-title {
    text-transform: uppercase;
    margin: ($unit * 9) 0px 0px ($unit * 10);
    opacity: .87;

    &.is-standard-case {
      text-transform: none;
    }

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      margin: ($unit * 6) 0px 0px 0px;
    }
  }

  .hero-subtitle {
    margin: 0px 0px 0px ($unit * 10);
    opacity: .87;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      margin: 0px;
    }
  }

  // LARGE SHEILD LOGO
  .hero-logo {
    background: url('/resources/images/logos/standard/shield-large.png') top center no-repeat;
    padding-top: 224px;
    opacity: 1;
    width: $unit * 70;
    margin: ($unit * 3) auto ($unit * 5) auto;
    font-weight: 400;

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      background: url('/resources/images/logos/standard/shield-large@2x.png') top center no-repeat;
      background-size: 184px 200px;
    }

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      width: auto;
      font-size: 20px;
      line-height: 28px;
      margin: ($unit * 2) auto;
      padding-top: 208px;
    }
  }

  // CTA BUTTONS
  .button {
    margin: 0px $unit;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      margin: ($unit * 2) 0px;
      display: block;
    }
  }

  // SOCIAL ICONS
  .social-icons {
    position: absolute;
    top: $unit * 3;
    right: $unit * 3;
    z-index: $layer-1;

    @media handheld and (max-width: $phone-breakpoint),
    screen and (max-device-width: $phone-breakpoint),
    screen and (max-width: $tablet-breakpoint) {
      right: auto;
      left: 0;
    }

    button {
      color: $snow;
      opacity: .56;
      font-size: 18px;
      text-decoration: none;
      margin-left: $unit * 2;
      padding: 0;
      background: none;
      border: none;
      outline: none;
    }
  }
}