.image-display {
  border-radius: 4px;
  background: $snow;
  padding: $unit * 2;
  display: inline-block;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0px 2px rgba(0,0,0,.12);
  margin: 0px 0px ($unit * 2) 0px;

  img {
    border-radius: 4px;
    display: inline-block;
  }
}