/*
* Shadow layers
*
*/

.shadow-1,
.shadow-2,
.shadow-3,
.shadow-4,
.shadow-5 {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow-1 {
  box-shadow: 0 1px 4px 0 rgba($coal, 0.37);
}

.shadow-2 {
  box-shadow: 0 2px 2px 0 rgba($coal, 0.2), 0 6px 10px 0 rgba($coal, 0.3);
}

.shadow-3 {
  box-shadow: 0 11px 7px 0 rgba($coal, 0.19),0 13px 25px 0 rgba($coal, 0.3);
}

.shadow-4 {
  box-shadow: 0 14px 12px 0 rgba($coal, 0.17), 0 20px 40px 0 rgba($coal, 0.3);
}

.shadow-5 {
  box-shadow: 0 17px 17px 0 rgba($coal, 0.15), 0 27px 55px 0 rgba($coal, 0.3);
}