.showcase {
  margin-bottom: $unit * 6;

  .showcase-header {
    padding: $unit * 4;
    background: $mist;

    h3 {

    }

    p:last-child {
      margin: 0;
    }
  }

  .showcase-content {
    padding: $unit * 4;

    .l-main-section {
      margin-bottom: 0px;
    }
  }
}