table {
  margin-bottom: $unit * 4;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 2px;
  background: $snow;

  th,
  td {
    padding: ($unit * 2) ($unit * 4);
    border-bottom: 1px solid $fog;
    text-align: left;
  }

  th {
    background: $mist;
    font-weight: 500;
  }

  tr:last-child td {
    border: none;
  }
}