<!DOCTYPE html>
{% if eq(test.ngAppTag, "html") %}
<html ng-app="{{ test.ngApp }}">
{% else %}
<html>
{% endif %}
    <head>
        {% if scripts.jQuery %}
        <script src="{{ scripts.jQuery }}"></script>
        {% endif %}
        {% for script in test.scripts %}
            <script src="{{ test.scripts[script] }}"></script>
        {% endfor %}
        {{ test.head }}
    </head>
    {% if test.ngAppTag === "body" %}
    <body ng-app="{{ test.ngApp }}">
    {% else %}
    <body>
    {% endif %}
    {% test.body %}
    </body>
</html>
