<!document html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>locale test</title>
    <script src="../../build/angular.js"></script>
    <script src="../../build/i18n/angular-locale_zh-cn.js"></script>
    <script>
      function AppCntl($scope){
        $scope.input = 234234443432;
        $scope.plInput = 1;
        $scope.person1 = "Shanjian";
        $scope.person2 = "Di";
        $scope.plInput2 = 1;
      }
    </script>
  </head>
  <body ng-controller="AppCntl">
    <h3>Datetime/Number/Currency filters demo:</h3>
    <input type="text" ng-model="input"><br>
    date(medium): {{input | date:"medium"}}<br>
    date(longDate): {{input | date:"longDate"}}<br>
    number: {{input | number}}<br>
    currency: {{input | currency }}
    <hr/>
    <h3>Pluralization demo:</h3>
    <input type="text" ng-model="plInput"><br>
    <ng-pluralize count="plInput"
                  when= "{'other':'{}人在浏览该文件!'}">
    </ng-pluralize>
    <hr/>
    <h3>Pluralization demo with offsets:</h3>
    Name of person1:<input type="text" ng-model="person1"/><br/>
    Name of person2:<input type="text" ng-model="person2"/><br/>
    <input type="text" ng-model="plInput2"><br>
    <ng-pluralize count="plInput2" offset=2
                  when= "{'0':'没有人在浏览该文件!',
                          '1': '{{person1}} 在浏览该文件!',
                          '2': '{{person1}} 和 {{person2}} 在浏览该文件!',
                          'other': '{{person1}}, {{person2}} 还有其他{} 人在浏览该文件!'}">
    </ng-pluralize>
  </body>
</html>
