<h1>{{name}}</h1>

{{#deprecated}}
<fieldset class="deprecated">
  <legend>Deprecated API</legend>
  {{deprecated}}
</fieldset>
{{/deprecated}}

{{{description}}}

{{#example}}
<h2>Example</h2>
{{{exampleDescription}}}
<doc:example>
  <doc:source>
{{/example}}
    {{{example}}}
{{#example}}
  </doc:source>
  <doc:scenario>{{{scenario}}}</doc:scenario>
</doc:example>
{{/example}}
