<h1><tt>{{name}}</tt></h1>
{{{description}}}

{{#example}}
<h2>Example</h2>
{{{exampleDescription}}}
<doc:example>
  <doc:source>
{{/example}}
    {{{example}}}
{{#example}}
  </doc:source>
  <doc:scenario>{{{scenario}}}</doc:scenario>
</doc:example>
{{/example}}
