/*
* Background Colors
*
* Background utility classes to add color to elements
*/

.background-sky {
  background-color: $ocean;
  background: linear-gradient($ocean, $regal);
  color: $snow;
}

.background-regal {
  background: $regal;
  color: $snow;
}

.background-coal {
  background: $coal;
  color: $snow;
}

.background-steel {
  background: $steel;
  color: $snow;
}

.background-silver {
  background: $silver;
  color: $snow;
}


/*
* Background Images
*
*/

.background-sf-paper {
  background: url('/resources/images/backgrounds/sf-paper.png') bottom center no-repeat;
  background-size: 100%;
  background-position: fixed;
}




/*
* Text Colors
*
* Text color utility color classes
*/

.text-snow {
  color: $snow;
}